* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(../images/brooke-lark-08bOYnH_r_E-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 70px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 70px;
  width: 20%;
	background-image: url('../images/logo.svg');
	background-size: cover;
  background-position: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

header ul li {
  display: inline;
  margin-right: 20px;
}

header ul li a {
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  color: #333;
  padding: 5px 10px;
}

.herro {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.herro-content {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.herro-content h2 {
  font-size: 3rem;
  padding: 0 10px;
  margin: 0;
  color: #333;
}

.herro-content p {
  font-weight: bold;
  color: #666;
  padding: 0 10px;
  margin: 0;
  font-size: 1.5rem;
}

.explore {
  margin-top: 20px;
  align-self: flex-start;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  width: 200px;
  font-weight: 600;
  background-color: #FF5A5F;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}

#second {
  background-color: #f0f0f0;
  padding: 8px 18px;
  border: #FF5A5F 2px solid;
  color: #FF5A5F;
}

.btn:hover {
  cursor: pointer;
}

#features {
  padding: 50px 0;
}

.feature {
  text-align: center;
  margin-bottom: 50px;
}

.feature img {
  border-radius: 10px;
  width: 70%;
  height: 500px;
}

.feature h3 {
  margin-top: 20px;
  font-size: 1.5em;
  color: #333;
}

.feature p {
  color: #666;
}

.about {
  padding: 50px 0;
  text-align: center;
}

.about p {
  color: #666;
  margin-bottom: 20px;
}

#links {
  font-size: larger;
  color: #333;
}

.about ul {
  display: flex;
  justify-content: center;
  gap: 5%;
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
  margin: 20px 0;
}

.about ul li {
  display: inline;
}

.about ul li a {
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  color: #333;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: #ccc 1px solid;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
